@import "~antd/dist/antd.css";

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.layout-logo {
  background-color: #f0feff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout-logo img {
  height: 80px;
  width: 160px;
}

.layout-header {
}
